body {
    margin: 0;
    padding: 0;
    background-image: url('IMG-20220821-WA0000.jpg');
    background-size: cover;
    font-family: sans-serif;
}
.btn {
    border: none;
    outline: none;
    height: 40px;
    font-size: 16px;
    color: #fff;
    background-color: red;
    cursor: pointer;
    border-radius: 20px;
    transition: .3s ease-in-out;
}

    .btn:hover {
        background-color: green;
    }