body {
    margin: 0;
    padding: 0;
    background-image: url('IMG-20220822-WA0008.jpg');
    background-size: cover;
    font-family: sans-serif;
}
.button4 {
    border: none;
    outline: none;
    height: 40px;
    font-size: 16px;
    color: #fff;
    background-color: sandybrown;
    cursor: pointer;
    border-radius: 20px;
    transition: .3s ease-in-out;
}

    .button4:hover {
        background-color: green;
    }